@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  height: 100%;
  width: 100%;
}

.raleway {
  font-family: 'Raleway', sans-serif;
}

.headings {
  font-family: 'Irish Grover', cursive;
}

.btn:hover,
.btn:focus {
  box-shadow: 0 0 0 2px var(--color), 0 0 0 4px var(--bgcolor);
}
.btn:active {
  transform: scale(0.95);
}

::selection {
  color: var(--light);
  background: var(--red);
}

.closed-day {
  background-color: #550000;
  color: white;
}

.closed-day:hover {
  background-color: #6d0000 !important;
  color: white !important;
}

.closed-day:enabled:focus {
  background-color: #8a0000 !important;
  color: white;
}

.loginPage {
  min-height: 100vh;
  max-height: 100vh;
  background-color: hsla(199, 97%, 45%, 1);
  background-image: radial-gradient(at 20% 0%, rgb(228, 247, 242) 5px, transparent 50%);
}

.hers {
  background: conic-gradient(
    at center top,
    rgb(34, 211, 238),
    rgb(14, 165, 233),
    rgb(255, 255, 255)
  );
}
